@import 'primeicons/primeicons.css';
@import './routes/userComponents/ConfirmDialog.css';
@import './routes/userComponents/CustomSplitButton.css';

* {
  font-family: 'Sawarabi Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* Stylizacja każdego elementu w rozwijanej liście SplitButton */
.p-menu .p-menuitem {
  background-color: #1a202c; /* Ciemne tło */
  color: white; /* Biały tekst */
  padding: 10px 15px; /* Większy padding */
  border-radius: 4px; /* Zaokrąglone rogi */
  transition: background 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Efekt hover */
.p-menu .p-menuitem:hover {
  background-color: #333;
  color: #f2f2f2;
}
.custom-dropdown .p-menuitem-icon {
  margin-right: 8px; /* Dostosuj odstęp */
}
.p-button-label {
  margin-left: 10px;
}

/* Złoty kolor */
/* backgroundImage:
'linear-gradient(45deg, #b88b4a, #ffd700, #b8860b, #fcf3ce, #b88b4a)', // gold */
/* 
  background:
  url('../../../assets/backgr.png') no-repeat,
  #1c212b; rgb(28, 33, 43)
 */

/* backgroundImage:
'linear-gradient(45deg, #8b3a3a, #b7410e, #fcd9cb, #92400e, #5a2e02)', miedź */

/* border: 5px solid;
  border-image: linear-gradient(
    45deg,
    #8b3a3a,
    #b7410e,
    #fcd9cb,
    #92400e,
    #5a2e02
  );
  border-image-slice: 1; */

/* 
  background:
  url('../../../assets/backgr.png') no-repeat,
  #1c212b; rgb(28, 33, 43)
background-blend-mode: overlay; */

/* rgb(139, 58, 58), rgb(183, 65, 14), rgb(252, 217, 203), rgb(146, 64, 14), rgb(90, 46, 2);  miedź */

/*  piaskowy beż */
/* background:
    url('../../../assets/backgr.png') no-repeat,
    #d0c0a3; */
