.side-container {
  background: #432fbf;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
  width: 500px;
  min-height: 100px;
}

.side-container .side-item {
  color: #999;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.side-container .side-item-highlighter {
  width: 100px;
  height: 55%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  visibility: hidden;
  transition: left 0.25s;
}

.side-container .side-item.active {
  color: #fff;
}

.side-container .side-item.active ~ .side-item-highlighter {
  visibility: visible;
}

.side-container .side-item.active.item-0 ~ .side-item-highlighter {
  left: 12.5%;
}

.side-container .side-item.active.item-1 ~ .side-item-highlighter {
  left: 50%;
}

.side-container .side-item.active.item-2 + .side-item-highlighter {
  left: 87.5%;
}

.side-container .side-item .fas,
.side-container .side-item .far {
  transform: translateX(15px);
  margin-right: 10px;
  transition: transform 0.25s;
}

.side-container .side-item.active .fas,
.side-container .side-item.active .far {
  margin-right: 10px;
  transform: translateX(0px);
}

.side-container .side-item .side-item-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s;
}

.side-container .side-item.active .side-item-text {
  visibility: visible;
  opacity: 1;
}
