.scroll-list-container {
  position: relative;
  width: 100%;
}

.scroll-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #1e252a;
  /* background-color: rgb(86, 100, 100); */
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #1e252a;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  background: url('../../../assets/backgr.png') no-repeat;
  background: linear-gradient(
    to bottom,
    rgb(28, 33, 43) 0%,
    rgb(28, 33, 43) 80%,
    rgb(8, 13, 23) 100%
  );
  background-blend-mode: overlay;
  border: 5px solid;
  border-image: linear-gradient(
    45deg,
    #8b3a3a,
    #b7410e,
    #fcd9cb,
    #92400e,
    #5a2e02
  );
  border-image-slice: 1;
  margin: 0 5px;
}

.item.selected {
  background: url('../../../assets/backgr.png') no-repeat;
  background: linear-gradient(
    to bottom,
    rgb(28, 33, 43) 0%,
    rgb(28, 33, 43) 80%,
    rgb(8, 13, 23) 100%
  );
  background-blend-mode: overlay;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, #060606, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #060606, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.arrow {
  font-size: 5rem; /* Powiększona strzałka */
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
  color: #b7410e; /* Domyślny kolor */
  margin: 5px;
}
.arrow:hover {
  color: #ffffff;
  filter: 'brightness(2)';
}

.arrow.disabled {
  opacity: 0.3; /* Strzałka staje się "wyszarzona" */
  cursor: default;
  pointer-events: none;
  color: #777777; /* Możesz zmienić na dowolny kolor */
}
