/* Styl dla całego okna dialogowego */
.custom-dialog {
  background: #1e1e2f;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.custom-dialog .p-dialog {
  background: #1e1e2f;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Nagłówek dialogu */
.custom-dialog .p-dialog-header {
  background: #2c2c3a;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/* Ikona ostrzeżenia */
.custom-dialog .pi-exclamation-triangle {
  color: #fca311;
  font-size: 2rem;
  padding-right: 5px;
}
.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  background: #1e1e2f;
}
/* Treść wiadomości */
.custom-dialog .p-dialog-content {
  color: #e0e0e0;
  font-size: 1.1rem;
  padding: 20px;
}

/* Przycisk 'Usuń' */
.custom-accept-btn {
  background: #ff4d4d !important;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
  text-align: center;
}

.custom-accept-btn:hover {
  background: #ff1a1a !important;
}

/* Przycisk 'Anuluj' */
.custom-reject-btn {
  background: #4a4a4a !important;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
  text-align: center;
}

.custom-reject-btn:hover {
  background: #333 !important;
}
